<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
    {%- include header.html -%}
    
    {%- if page.layout == 'home' -%}
    <div id="home-wrapper">
      <div id="home-box" class="wrapper">
        {{ content }}
      </div>
    </div>
    {%- else -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>    
    </main>
    {%- endif -%}
    {%- include footer.html -%}

  </body>

</html>
